// breakpoint settings @see https://github.com/sass-mq/sass-mq
// prettier-ignore
$mq-breakpoints: (
  xs: 0px,
  sm: 576px, // 36em
  md: 768px, // 48em
  lg: 992px, // 62em
  xl: 1200px // 75em
);

// $mq-show-breakpoints: ();

// // debug breakpoints top rhs in dev
// @if ($env == 'development') {
//   $mq-show-breakpoints: (xs, sm, md, lg, xl);

//   body:before {
//     z-index: 10000 !important;
//   }
// }
